{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/litera/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>
  <body>
    <nav class="Navbar navbar navbar-expand-md">
      <a class="NavbarBrand navbar-brand" href="/">BookStore</a>
        <div class="NavbarDropdown">
          {% if user.is_authenticated %}
            <div class="dropdown">
              <span>Logged in as: </span>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url "logout" %}">Account Settings</a>
                <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
              </div>
            </div>
          {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
