{% extends "base-dashboard.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static styles_dashboard.css %}" />
{% block content %}
<div class="Container">
  {% if user_on_page == request_user %}
  <h2 class="PageHeader">Dashboard</h2>
  <div class='ListContainer'>
    <h3 class="SectionHeader">My books:</h3>
    <div class='BookList'>
        {% for book in books %}
          {% if book.user == user_on_page %}
          <div class="Book">
            <div class="BookInfo"><span class="TitleText">{{ book.title }},</span> {{ book.author }}</div>
            <div class="BookInfo"><span class="TitleText">{{ book.status }}</div>
            <div class="BookButtons">
              <button class="Button DeleteButton"><a class="DeleteLink" href="/delete_book/{{ book.id }}">x</a></button>
              <button class="Button EditButton"><a class="EditLink" href="/edit_book/{{ book.id }}">test</a></button>
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class='AddContainer'>
    <div class='FormContainer'>
      <h3 class="SectionHeader">Add a new book:</h3>
      <form class="Form" action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="Button btn">Save</button>
      </form>
      <div class="SearchResults">
      </div>
    </div>
  </div>
  {% else %}
  <p class="ErrorMessage">Oops! You're not logged in. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup.</a></p>
  {% endif %}
</div>
{% endblock content %}
