{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Dashboard</h1>
  <div class='list-container'>
    <h2>My books</h2>
    <div class='book-list'>
        {% for book in books %}
        <div>
          {{ book.title }}, {{ book.authors }}
          <button><a href={}>Add to List</button>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class='add-container'>
    <h2>Add a new book</h2>
    <div class='add-list'>
      <form action="." method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        <button onClick="click()">Submit</button>
      </form>
      <div class="search-results">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
