{% extends "base-landing.html" %}
{% load static %}
{% block content %}
<div class="Container">
  <div class="TitlesContainer">
    <h1 class="Title">BookStore<span class="Heart">&hearts;</span></h1>
    <p class="Subtitle">Your reading list digitized.</p>
  </div>
  <div class="ButtonContainer">
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}</h2>
    <button class="Button"><a class="ButtonText" href="{% url 'dashboard' username=user.username %}">Dashboard</a></button>
    {% else %}
    <button class="Button"><a class="ButtonText" href="{% url "signup" %}">Signup</a></button>
    <button class="Button"><a class="ButtonText" href="{% url "login" %}">Login</a></button>
    {% endif %}
  </div>
</div>
{% endblock content %}
