:root {
  --background1: #92DCE5;
  --background-and-highlight-text: #FFFFFF;
  --text-only: #5B5B5B;
  --accent: #D64933;
}

body {
  background-color: var(--background-and-highlight-text);
}
.Container {
  display: grid;
  grid-template-rows: 15% 1fr 1fr;
  grid-template-columns: 50px 1fr 50px;
  color: var(--text-only);
}
.PageHeader{
  grid-row: 1;
  grid-column: 2;
  padding-top: 10px;
}
.ListContainer {
  grid-row: 2;
  grid-column: 2;
}
.AddContainer {
  grid-row: 3;
  grid-column: 2;
}
.Book {
  font-family: 'Bitter', serif;
}
.Button {
  color: var(--background-and-highlight-text);
}
.Book {
  font-family: 'Bitter', serif;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.Book:hover {
  color: var(--accent);
}
.Button {
  color: var(--background-and-highlight-text);
  padding: none;
}
.Form {
  text-align: left;
}
.TitleText {
  font-weight: bold;
}
.NavbarButton {
  display: flex;
  justify-content: space-between;
}
.ErrorMessage {
  grid-row: 2;
  grid-column: 2;
}
