:root {
  --background1: #92DCE5;
  --background-and-highlight-text: #EEE5E9;
  --text-only: #5B5B5B;
  --accent: #D64933;
}

body {
  background-color: var(--background-and-highlight-text);
}

/*Navbar*/
.Navbar {
  background-color: var(--background1);
}
.NavbarBrand {
  color: var(--background-and-highlight-text);
  font-weight: bold;
}
.NavbarBrand:hover {
  color: var(--accent);
}
.Button {
  background-color: var(--accent);
  border-radius: 12px;
  border-style: none;
  padding: 5px;
}
.ButtonText {
  color: var(--text-only);
}
.ButtonText:hover {
  color: var(--accent);
}
